<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ego Antonius">
    <meta name="keywords" content="exposiciones, galerias de artes, cuadros, esculturas">
    <meta name="description" content="Tu galeria de arte más cercana, ofrecemos nuestras instalaciones para todo tipo de exposiciones artísticas.">
    <meta name="revisit-after" content="2 days" />
    <meta name="category" content="arte" />
    <link rel="icon" href="../favicon.bmp" type="image/ico" />
    <title>ArtLine</title>

    <!-- ***** Estilos ***** -->
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/lightbox.css">

</head>


<body>


    <!--Cabecera-->
    <header class="header">


        <!--Menú-->

        <nav class="barra_menu no_estilo">

            <h1 class="logo">
                <a href="../index.html"><img src="../assets/images/Logo.svg" alt="logo art line" width="138" title="Artline.com" height="137"></a>
            </h1>
            <ul class="content_menu">
                <li class="menu no_estilo"><a href="../index.html">INICIO</a></li>
                <li class="menu no_estilo"><a href="#" id="op1">GALERIA</a></li>
                <li class="menu no_estilo"><a href="./presupuesto.html">PRESUPUESTO</a></li>
                <li class="menu no_estilo"><a href="./contacto.html">CONTACTO</a></li>
            </ul>

            <!--Burger Menú-->
            <div class="menu_burger">
                <a href="#"><img class="burger" id="burger" src="../assets/images/menu_black_24dp.svg" alt="Menú burger" width="24" height="24"></a>
            </div>

        </nav>


    </header>
    <main>
        <div class="margen_header"></div>
        <section class="galeria centrar">
            <h2>Galería de pinturas más relevantes</h2>

            <div class="contenedor_galeria centrar">

                <a href="../assets/images/img_1.jpg" data-lightbox="galeria" data-title="Pintura de Claude monet-1"><img src="../assets/images/img_1.jpg" alt="Pintura de Claude monet-1" class="galeria_img"></a>
                <a href="../assets/images/img_2.jpg" data-lightbox="galeria" data-title="Pintura de Claude monet-2"><img src="../assets/images/img_2.jpg" alt="Pintura de Claude monet-2" class="galeria_img"></a>
                <a href="../assets/images/img_3.jpg" data-lightbox="galeria" data-title="Pintura de Claude monet-3"><img src="../assets/images/img_3.jpg" alt="Pintura de Claude monet-3" class="galeria_img"></a>
                <a href="../assets/images/img_4.jpg" data-lightbox="galeria" data-title="Pintura de Claude monet-4"><img src="../assets/images/img_4.jpg" alt="Pintura de Claude monet-4" class="galeria_img"></a>
                <a href="../assets/images/img_5.jpg" data-lightbox="galeria" data-title="Pintura de Joaquin Sorolla-1"><img src="../assets/images/img_5.jpg" alt="Pintura de Joaquin Sorolla-1" class="galeria_img"></a>
                <a href="../assets/images/img_6.jpg" data-lightbox="galeria" data-title="Pintura de Joaquin Sorolla-2"><img src="../assets/images/img_6.jpg" alt="Pintura de Joaquin Sorolla-2" class="galeria_img"></a>
                <a href="../assets/images/img_7.jpg" data-lightbox="galeria" data-title="Pintura de Joaquin Sorolla-3"><img src="../assets/images/img_7.jpg" alt="Pintura de Joaquin Sorolla-3" class="galeria_img"></a>
                <a href="../assets/images/img_8.jpg" data-lightbox="galeria" data-title="Pintura de Joaquin Sorolla-4"><img src="../assets/images/img_8.jpg" alt="Pintura de Joaquin Sorolla-4" class="galeria_img"></a>
                <a href="../assets/images/img_9.jpg" data-lightbox="galeria" data-title="Pintura de Joaquin Sorolla-5"><img src="../assets/images/img_9.jpg" alt="Pintura de Joaquin Sorolla-5" class="galeria_img"></a>
                <a href="../assets/images/img_10.jpg" data-lightbox="galeria" data-title="Pintura de Vincent van-Gogh-1"><img src="../assets/images/img_10.jpg" alt="Pintura de Vincent van-Gogh-1" class="galeria_img"></a>
                <a href="../assets/images/img_11.jpg" data-lightbox="galeria" data-title="Pintura de Vincent van-Gogh-2"><img src="../assets/images/img_11.jpg" alt="Pintura de Vincent van-Gogh-2" class="galeria_img"></a>
                <a href="../assets/images/img_12.jpg" data-lightbox="galeria" data-title="Pintura de Vincent van-Gogh-3"><img src="../assets/images/img_12.jpg" alt="Pintura de Vincent van-Gogh-3" class="galeria_img"></a>


            </div>

        </section>

    </main>


    <footer>



        <div class="footer_principal">
            <section class="contenedor_contacto centrar">
                <h2 class="padding_h2_footer">Información de contacto:</h2>
                <div class="contacto_direccion">
                    <div class="logo_direc">
                        <img src="../assets/images/home_14773.png" alt="direccion">
                    </div>
                    <div class="direccion">
                        <p>Artline, S.A</p>
                        <p>C/ Duque de Lerma, 9</p>
                        <p>45500-Toledo-Toledo</p>
                    </div>
                </div>
                <div class="contacto_direccion">
                    <div class="logo_direc">
                        <img src="../assets/images/phone_14743.png" alt="direccion">
                    </div>
                    <div class="tele_email">
                        <p>+34 925 22 XX XX</p>

                    </div>
                </div>
                <div class="contacto_direccion">
                    <div class="logo_direc">
                        <img src="../assets/images/Email-Icon_33999.png" alt="direccion">
                    </div>
                    <div class="tele_email">
                        <p><a href="mailto:info@artline.com" target="_blank">info@artline.com</a> </p>

                    </div>
                </div>

            </section>
            <section class="aviso centrar">
                <h2 class="padding_h2_footer">Información:</h2>
                <ul class="no_estilo">
                    <li><a href="#" target="_blank">Aviso legal</a> </li>

                    <li><a href="#" target="_blank">Términos y condiciones generales</a> </li>
                </ul>

            </section>
            <section class="siguenos centrar">
                <h2 class="padding_h2_footer">Síguenos:</h2>
                <a href="https://www.facebook.com/" title="Facebok" target="_blank"><img src="../assets/images/Facebook-Icon_34072.png" alt="facebook" width="32" height="32" id="facebook"></a>

                <a href="https://www.instagram.com/" title="Instagram" target="_blank"><img src="../assets/images/Instagram-Icon_34077.png" alt="instagram" width="32" height="32" id="instagram"></a>

                <a href="https://twitter.com/" title="Twitter" target="_blank"><img src="../assets/images/Twitter-Icon_34073.png" alt="twitter" width="32" height="32" id="twitter"></a>


            </section>

        </div>

        <div class="copyright">
            <p>Copyright &copy; Ego Antonius</p>
        </div>



    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../js/lightbox.js"></script>
    <script src="../js/index.js" type="module"></script>

</body>

</html>